*,
*::before,
*::after {
    box-sizing: border-box;   
}
body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
  padding: 0;
  margin: 0;
  border: 1px solid rgba(236, 236, 236, 1);
}
.header__content{
display: flex;
justify-content: space-between;
align-items: center;
}
.navbar{
    display: flex;
    align-items: center;
    gap: 93px;
}
.nav__list{
display: flex;
gap: 50px;
align-items: center;
}


.logo_logo--accent{
font-family: Raleway;
font-style: Bold;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 3%;
text-align: left;
color: rgba(33, 150, 243, 1);
}
.logo{
font-family: Raleway;
font-style: Bold;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 3%;
text-align: left;
color: rgba(0, 0, 0, 1);
}

.nav__link{
color: rgba(33, 33, 33, 1);
font-family: Roboto;
font-style: Medium;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 2%;
text-align: left;
cursor: pointer;
}
.nav__link:hover{
    color: rgba(33, 150, 243, 1);
}
.contaks-tell{
display: flex;
gap: 50px;
align-items: centre;

}
.contacts{
}
.contacts__link{
color: rgba(117, 117, 117, 1);

}
.contacts__link:hover{
    color: rgba(33, 150, 243, 1);
}

.hero{
display: flex;
align-items: center;
justify-content: center;
}
.hero__content{
    background: rgba(47, 48, 58, 1);
    width: 1600px;
    height: 600px;
}
.hero-section{

}
.hero__title{
color: rgba(255, 255, 255, 1);
font-family: Roboto;
font-style: Black;
font-size: 44px;
font-weight: 900;
line-height: 60px;
letter-spacing: 6%;
text-align: center;
text-transform: uppercase;
background-color: rgba(47, 48, 58, 1);
display: flex;
align-items: centre;
justify-content: center;
}
.button_button--primary{
color: rgba(255, 255, 255, 1);
font-family: Roboto;
font-style: Bold;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 6%;
text-align: center;
background-color:rgba(33, 150, 243, 1) ;
cursor: pointer;
}
.button_button--primary{
    display: flex;
    align-items: center;
    justify-content: center;
}
.features{
padding: 94px 0;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.features__list{
display: flex;
align-items: center;
justify-content: space-around;
gap: 30px;
}
.features__item{

}
.features__title{
color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 3%;
text-align: left;
text-transform: uppercase;
}
.features__text{
color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 3%;
text-align: left;
}
.work{
padding: 118px 0;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.section-title{
color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: "Bold";
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 3%;
text-align: center;

}
.work__images{
display: flex;
align-items: center;
gap: 30px;
justify-content: center;
padding: 50px 0;
}
.work__img{
display: flex;
align-items:center;
justify-content: space-around;
gap: 50px;
}
.team{
 padding: 94px 0;
width: 1600px;
height: 648px;   
background: rgba(245, 244, 250, 1);
display: flex;
align-items: center;
justify-content: space-evenly;
}
.team-content{


}
.team__list{
display: flex;
align-items: center;
gap: 30px;
justify-content: space-evenly;
}
.team__img{
flex-basis: calc((100% - 90px) / 4);
}
.team__name{
color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 3%;
text-align: center;
}
.team__role{
color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 3%;
text-align: center;
}
.footer{
background: rgba(47, 48, 58, 1);
width: 1600px;
height: 252px;
}

.footer__content{

}
.footer__contacts{
    
}
.footer__logo{
display: flex;
justify-content: flex-start;
padding-top: 60px;

}
.logo-logo--light{
    font-family: Raleway;
font-style: Bold;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 3%;
text-align: left;
color: rgba(255, 255, 255, 1);

}

.footer__address{
    padding: 20px 0;
color: rgba(255, 255, 255, 1);

font-family: Roboto;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 3%;
text-align: left;
}
.footer__link{
color: rgba(255, 255, 255, 0.6);

font-family: Roboto;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 3%;
text-align: left;
}