*,
*::before,
*::after {
    box-sizing: border-box;   
}
.header{
    background-color: white;
}
.rel{
    font-family: Raleway;
font-style: Bold;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 3%;
text-align: left;
color: rgba(33, 150, 243, 1);
}
.width{
    font-family: Raleway;
font-style: Bold;
font-size: 26px;
font-weight: 700;
line-height: 31px;
letter-spacing: 3%;
text-align: left;
color: rgba(0, 0, 0, 1);
}
.span{
    color: aqua;
}
.title{
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Medium;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 2%;
text-align: left;
}
.li{
    color: blue;
}
.link{
    color: gray;
}
.styles{
    background-color:  rgba(47, 48, 58, 1);;
}
.h1{
    color: rgba(255, 255, 255, 1);

font-family: Roboto;
font-style: Black;
font-size: 44px;
font-weight: 900;
line-height: 60px;
letter-spacing: 6%;
text-align: center;
text-transform: uppercase;
}
.images{
    color: rgba(255, 255, 255, 1);

font-family: Roboto;
font-style: Bold;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 6%;
text-align: center;
}
.text{
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 14px;
font-weight: 700;
line-height: 16px;
letter-spacing: 3%;
text-align: left;
text-transform: uppercase;
}
.alt{
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 3%;
text-align: left;
}
.tell{
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Bold;
font-size: 36px;
font-weight: 700;
line-height: 42px;
letter-spacing: 3%;
text-align: center;
}
.en{
    color: rgba(33, 33, 33, 1);

font-family: Roboto;
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 3%;
text-align: center;
}
.info{
    color: rgba(117, 117, 117, 1);

font-family: Roboto;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 3%;
text-align: center;
}
.footer{
    background-color: rgba(47, 48, 58, 1);;
}
.address{
    color: rgba(255, 255, 255, 1);

font-family: Roboto;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 3%;
text-align: left;
}
.index{
    color: rgba(255, 255, 255, 0.6);

font-family: Roboto;
font-style: Regular;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 3%;
text-align: left;
}
.ul,li{
    list-style: none;
}